@media (min-width: 375px) and (max-width: 1440px) {

}

sup {
    margin-left: 10px;
    font-size: 14px;
}
span {
    color: hsl(158, 36%, 37%);
    font-size: 2em;
    font-weight: 700;
}

button {
    color: aliceblue;
    /* background-color: rgba(50, 100, 50, 100); */
    background-color: hsl(158, 36%, 37%);
    border: 1px solid hsl(158, 36%, 37%);
    border-radius: 7px;
    margin-top: 1em;
    width: 95%;
    padding: 12px;
}

button:hover {
    opacity: 90%;
}

img {
    max-height: 480px;
    float: right;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    margin-top: 5em;
}
.repack {
    max-height: 480px;
    max-width: 25%;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 100%);
    margin-left: -10px;
    margin-right: 20%;
    margin-top: 5em;
    padding-left: 2em;
    font-weight: bolder;
}

.font {
    font-family: 'Fraunces', serif;
    flex-wrap: wrap;
}

h6 {
    font-family: 'Dancing Script', cursive;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: large;
}

svg {
    margin-right: 5px;
}

body {
    background-color: hsl(30, 38%, 92%);
}
